@import url('fieldset.css');
@import url('legend.css');
@import url('input.css');
@import url('primaryColor.css');
@import url('themeEvents.css');
@import url('contact.css');

form{
    h1{
        font: var(--heading-md);
        margin-bottom: 2.5rem;
    }
    label{
        color: var(--text-body);
        font: var(--body-sm);
    }
}