.color-primary{
    font: var(--body-sm-regular);
}

.event-theme{
  span{
    font: var(--body-sm-regular);
    margin: 1.75rem 0 1rem 0;
    display: block;
  }
  .events{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 8px;
    justify-content: space-between;
    .event{
        background-color: var(--shape-button);
        border-radius: 12px;
        border: 2px solid transparent;
        img{
            padding: 4px;
            width: 100%;
        }
        h4{
            padding: 4px;
            text-align: center;
            font: var(--body-sm-regular);
            font-weight: regular;
        }
        &:hover{
            border: 2px solid var(--brand-light);
        }
    }
  }
}

.additional-information{
  margin-top: 1.75rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  .style{
    flex: 1;
    & > span{
      font: var(--body-sm-regular);
      color: var(--text-body);
      margin-bottom: 0.75rem;
      display: block;
    }
    .theme-dark-or-light{
      display: flex;
      align-items: center;
      gap: 12px;
      span{
        font: var(--body-sm-regular);
      }
      .light{
        display: none;
      }
      .theme{
        display: flex;
        border-radius:32px;
        padding: 4px;
        width: 64px;
        height: 32px;
        background-color: var(--input-base);
        position: relative;
        button{
          all: unset;
          cursor: pointer;
          position: absolute;
          background-image: url('../../assets/icons/eclipse.svg');
          width: 24px;
          height: 24px;
          &:focus{
            right: 4px;
            background-image: url('../../assets/icons/eclipse-white.svg');
          }
        }
        &:focus-within{
          background-color: var(--brand-light);
          display: block;
        }

        &:focus-within ~ .dark {
          display: none; /* Esconde o span .dark quando o botão está focado */
        }
        
        &:focus-within ~ .light {
          display: block; /* Exibe o span .light quando o botão está focado */
        }
      }
    }
  }
  .photo{
    flex: 1;
    & > span{
      font: var(--body-sm-regular);
      color: var(--text-body);
      margin-bottom: 0.75rem;
      display: block;
    }
    .upload-file{
      width: 119px;
      background-color: var(--shape-button);
      padding: 0.625rem;
      border-radius: 8px;
      position: relative;
      div{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        span{
          font: var(--body-sm);
        }
      }
      input{
        all: unset;
        position: absolute;
        width: 119px;
        top: 0;
        left: 0;
        opacity: 0;
      }
    }
  }
}